.overlayBg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 397px;
    background-color: rgb(201, 232, 245);
    display: none;
    z-index: -10;
    display: block;
}


.form-control {
    border-radius: 10px; /* Rounded borders like in the example */
    box-shadow: none;
    border: 1px solid #ccc; 
  }
  
.form-control:focus {
    box-shadow: none; /* Remove the shadow on focus */
    border: 2px solid #007bff; /* Add blue border on focus */
}
.form-control:hover {
    box-shadow: none; /* Remove the shadow on focus */
    border: 1px solid #007bff; /* Add blue border on focus */
}

.form-select {
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #ccc; /* Custom border style */
    padding: 10px; /* Extra padding inside the dropdown */
    font-size: 16px; /* Adjust font size */
}

.form-select:focus {
    box-shadow: none; /* Remove shadow on focus */
    border: 2px solid #007bff; /* Add blue border when focused */
}
.form-select:hover {
    box-shadow: none; /* Remove shadow on focus */
    border: 1px solid #007bff; /* Add blue border when focused */
}


.grid-container {
display: grid;
grid-template-columns: 60% 40%;
gap: 10px;

padding: 10px;
}

.grid-container > div {
padding: 20px 0;

}

.item2 {
grid-row: 1 / 3; /* For larger screens, it spans two rows */
grid-column: 2 / 3;
}

/* Media query for tablet screens and below */
@media (max-width: 991px) {
.grid-container {
  grid-template-columns: 1fr; /* Change to one column */
}

.item1 {
  grid-row: 1; /* Place item 1 in the first row */
}

.item2 {
  grid-row: 2; /* Place item 2 in the second row */
  grid-column: 1; /* Ensure it takes the full width */
  border: none !important;
  margin-top: 0px !important;
}

.item3 {
  grid-row: 3; /* Place item 3 in the third row */
  grid-column: 1; /* Ensure it takes the full width */
  padding: 0px !important;
}

.overlayBg{
    height: 300px;
}
}



@media (min-width: 992px) {
.item3 {
    max-width: 90%;
}

}




@media (max-width: 768px) {
.item1 {
    padding: 20px !important;
}

}



@media (max-width: 576px) {
    .item1 {
        padding: 10px !important;
    }
    .item1 h1 {
        font-size: 36px !important;
    }
    .item1 h5 {
        font-size: 16px !important;
    }
    .overlayBg{
        height: 175px;
    }

    .item2 {
        margin-top: 30px !important;
    }

    .item3 h5 {
        font-size: 22px !important;
        padding-bottom: 0px !important;
        
    }
    .item3 p {
        font-size: 14px !important;
    }

    footer .container {
        margin-top: 50px !important;
    }
    
    }