.feature-icon {
    font-size: 3rem;
    color: #007bff;
  }

.btn-group-toggle .btn {
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    transition: all 0.15s ease-in-out;
    font-size: 14px;
    color: rgba(51, 65, 85, 1);
}
.conversation {
    display: none; /* Hidden initially */
}


.message.left {
    text-align: left;
}

.message.left:after {
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #6C757D transparent;
    position: absolute;
    bottom: -7px;
    left: 13px; /* Arrow position for left bubble */
}

.message.right {
    text-align: left; 

}

.message.right:after {
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #0D6EFD transparent;
    position: absolute;
    bottom: -7px;
    right: 13px; /* Arrow position for right bubble */
}

/* OUR PRODUCTS SECTION */
.product-img {
    width: 100%;
    max-width: 180px; 
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.product-img:hover {
    filter: grayscale(0%);
}

.row-cols-2 .col,
.row-cols-md-3 .col,
.row-cols-lg-5 .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-icon-prev, .custom-icon-next {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}



.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
}

.thumbnails {
    margin-top: 20px;
}

.thumbnails img {
    height: 100px;
    width: 180px;
    object-fit: cover;
    margin: 0 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
}

.thumbnails img.active {
    box-shadow: 0 0 5px 2px #007bff;
}


/* Styling for medium screens (768px to 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .thumbnails img {
        height: 80px; /* Adjusted height for medium screens */
        width: 140px;  /* Adjusted width for medium screens */
        margin: 0 5px; /* Adjusted margin for medium screens */
    }

}

.message {
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
    position: relative;
}

@media (max-width: 768px) {
    #AfterServiceBtnGroup{
       margin-left: -17px; 
       margin-right: -17px;
    }
    #designBtnGroup{
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        padding-top: 0.5rem;
    }
}


/* @media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .col-md-7,
    .col-md-5 {
        width: 100%;
        padding: 0;
    }
    .container-xl {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .conversation {
        height: auto;
    }
} */


.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.text-overlay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* You can change the color */
    /* font-size: 12px; */
    
    padding: 10px; /* Optional: Add padding */
    border-radius: 5px; /* Optional: Add rounded corners */
}


/* design buttons------ */
/* .designBtn {
    border: 1px solid #0B5ED7;
    background-color: #fff;
    color: #0B5ED7;
    transition: background-color 0.3s ease, color 0.3s ease;
} */

.designBtn {
    border: 1px solid #0B5ED7;
    background-color: #fff;
    color: #0B5ED7;
    background-position: left;
    background-size: 0% 100%; /* Initially, no background fill */
    background-repeat: no-repeat;
    position: relative;
    /* overflow: hidden; */
}

.designBtn:not(.active) {
    background-image: none; 
    background-color: #fff; 
}
.designBtn.active {
    transition: color 5s ease, background-color 5s ease, background-size 5s ease;
    background-image: linear-gradient(90deg, #0B5ED7 0%, #0B5ED7 100%);
    /* border: 1px solid #0B5ED7; */
    background-size: 100% 100%; 
    color: #fff;
    transition: all 4s;
}

.designBtn.active svg {
    fill: #0B5ED7; /* Change the SVG fill color */
}

.designBtn.active svg circle {
    fill: #fff;    /* Change the fill color of the circle */
    stroke: #fff;  /* Change the stroke color of the circle */
    transition: all 4s;
}

.designBtn:hover {
    transition:none;
    background-color: #0B5ED7;
    color: #fff;
}

.designBtn:hover svg {
    fill: #0B5ED7;
}

.designBtn:hover svg circle {
    fill: #fff;
    stroke: #fff;
  }

/* design image------ */
.fixedSize {
    display: none;
    width: 100%; 
    height: auto; 
    max-width: 800px; 
    max-height: 400px; 
    object-fit: cover; 
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute; 
    top: 0;
    left: 0;
}

.fixedSize.active {
    display: block;
    opacity: 1;
    position: relative;

}




/* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
#customerReviewRow::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for other browsers (Firefox, IE, Edge, etc.) */
#customerReviewRow {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* Disable hover for mobile and tablet (up to 991px) */
@media (max-width: 991px) {
    #AfterServiceBtnGroup .btn:hover {
      background-color: #fff !important;
      color: #0d6efd !important;
    }

    #AfterServiceBtnGroup .btn.active:hover {
        background-color: #0d6efd !important;
        color: #fff !important;
    }

    #designBtnGroup .designBtn:hover {
        background-color: #fff !important;
        color: #0B5ED7 !important;
    }
    #designBtnGroup .designBtn:hover svg circle {
        fill: #0B5ED7;
        stroke: #0B5ED7;
    }
    #designBtnGroup .designBtn:hover svg {
        fill: #fff;
    }
    #designBtnGroup .designBtn.active:hover {
        background-color: #0B5ED7 !important;
        color: #fff !important;
    }
    #designBtnGroup .designBtn.active:hover svg circle {
        fill: #fff;
        stroke: #fff;
    }
    #designBtnGroup .designBtn.active:hover svg {
        fill: #0B5ED7;
    }

  }
  

   /* navigation bar------------------------------------- */
    #productsDisplay {
        display: none;
        position: absolute;
        z-index: 1000;  
        background-color: white; 
        width: 100%;

    }
    /* #productsDisplay.show {
        opacity: 1; 
        visibility: visible;
    } */


    #productsNav:hover + #productsDisplay {
        display: block; 
    }

    #productBtn:hover {
        background-color: #F1F9FF; 
    }

    #resourcesDisplay {
        display: none;
        position: absolute;
        z-index: 1000;
    }
    #resourcesDisplay.show {
        opacity: 1; 
    }

    #resourcesNav:hover + #productsDisplay {
        display: block; 
    }

    #resourcesBtn:hover {
        background-color: #F1F9FF; 
    }

    @media (max-width: 991.98px) { 
        .sidebar-nav .sidebar-link {
            padding: 20px 10px 20px 25px; 
            letter-spacing: normal;
            text-align: left;
            text-decoration: none;
            border-bottom: 1px solid gray;
        }

    }
    
    /* Sidebar Styles */
    .sidebar {
        position: fixed;
        top: 56px;
        right: -425px;
        max-width: 425px;
        width: 100%;
        height: calc(100% - 56px);
        background-color: white;
        transition: right 0.3s ease;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .sidebar.active {
        right: 0; /* Show sidebar */
    }

    .sidebar-nav {
        list-style: none;
        padding: 0;
    }

    .sidebar-link {
        text-decoration: none;
        color: #333;
        padding: 15px;
        display: block;
    }

    /* Hide sidebar on larger screens */
    @media (min-width: 992px) {
        .sidebar {
            display: none; 
        }
    }

    .dropdown-menu {
        width: 100%; 
        padding: 0; 
        display: none;
        position: sticky;
        background-color: #F0F0F0;
    }


.overlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.overlay.active {
    display: block;
}


 /* CSS for the gradient */
 .icon-gradient {
    background: linear-gradient(40deg, 
    #2d3d92 0%,  /* Dark Blue */
    #59a7dd 50%, /* Light Blue */
    #3454ac 100% /* Medium Blue */
);
    font-size: 60px;
    display: inline-block;
}

/* conversation positioned top in chart on mobile screens */
@media (max-width: 768px) {
    .conversation {
    position: absolute;
    top: 11%;
    left: 3%;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.7);
    }

    .canvas-container {
        /* opacity: 0.3; */
        max-height: 400px;
    }
}


/* OUR PRODUCTS SECTION  */

.logo-slider {
    overflow: hidden;
    padding: 30px 0 0 0;
    white-space: nowrap;
    position: relative;
}

.logo-slider:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 45s slide infinite linear;
}

.logos-slide img {
    height: 100px;
    width: 180px;
    margin: 0 50px;
}


@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}