.feature-icon {
    font-size: 3rem;
    color: #007bff;
  }

.btn-group-toggle .btn {
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    transition: all 0.15s ease-in-out;
    font-size: 14px;
    color: rgba(51, 65, 85, 1);
}
.conversation {
    display: none; /* Hidden initially */
}


/* OUR PRODUCTS SECTION */
.product-img {
    width: 100%;
    max-width: 180px; 
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.product-img:hover {
    filter: grayscale(0%);
}

.row-cols-2 .col,
.row-cols-md-3 .col,
.row-cols-lg-5 .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-icon-prev, .custom-icon-next {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}



.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
}

.thumbnails {
    margin-top: 20px;
}

.thumbnails img {
    height: 100px;
    width: 180px;
    object-fit: cover;
    margin: 0 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
}

.thumbnails img.active {
    box-shadow: 0 0 5px 2px #007bff;
}


/* Styling for medium screens (768px to 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .thumbnails img {
        height: 80px; /* Adjusted height for medium screens */
        width: 140px;  /* Adjusted width for medium screens */
        margin: 0 5px; /* Adjusted margin for medium screens */
    }

}

.message {
    opacity: 0; /* Initially hide the messages */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

@media (max-width: 991.98px) {
    #AfterServiceBtnGroup{
       margin-left: -17px; 
       margin-right: -17px;
    }
    #designBtnGroup{
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        padding-top: 0.5rem;
    }
}


/* @media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .col-md-7,
    .col-md-5 {
        width: 100%;
        padding: 0;
    }
    .container-xl {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .conversation {
        height: auto;
    }
} */


.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.text-overlay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* You can change the color */
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold if desired */
    background: rgba(255, 255, 255, 0.8); /* Optional: Add a background with some transparency for better readability */
    padding: 10px; /* Optional: Add padding */
    border-radius: 5px; /* Optional: Add rounded corners */
}


/* design buttons------ */
.designBtn {
    border: 1px solid #0B5ED7;
    background-color: #fff;
    color: #0B5ED7;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.designBtn:hover {
    background-color: #0B5ED7;
    color: #fff;
}

.designBtn:hover svg {
    fill: #0B5ED7;
}

.designBtn:hover svg circle {
    fill: #fff;
    stroke: #fff;
  }

/* design image------ */
.fixedSize {
    width: 100%; 
    height: auto; 
    max-width: 700px; 
    object-fit: cover; 
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute; 
    top: 0;
    left: 0;
}

.fixedSize.active {
    opacity: 1;
    position: relative;
}
